<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://cdn.tailwindcss.com"></script>

  <script>
    // Automatically hide messages after 5 seconds
    setTimeout(() => {
      const messages = document.querySelectorAll('.flash-message');
      messages.forEach(message => message.remove());
    }, 2000);
  </script>
</head>
<body class="bg-gray-100">
  <div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Login</h1>
    <form action="/user/login" method="post" class="mb-4">
      <input type="text" name="username" placeholder="Username" required class="mb-2 p-2 border rounded w-full">
      <input type="password" name="password" placeholder="Password" required class="mb-2 p-2 border rounded w-full">
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>
      
    </form>

    <% if (error) { %>
      <div class="flash-message bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
        <%= error %>
      </div>
    <% } %>
    <a href="/user/register" class="bg-blue-500 text-white px-4 py-2 rounded">Don't have an account?</a>
    <a href="/home" class="bg-purple-500 text-white px-4 py-2 rounded">Already Logged in?</a>
</body>
</html>

